/* created a block for all div's inside of container */
.container1 > div {
    /* border: solid; */
    /* height: 800px;
    width:800px;   */
}
/* container div to use grid to format all pages */
.container1 {
    display: grid;
    grid-template-columns: repeat(6,300px);
    grid-template-rows: repeat(6,300px);
    grid-gap: 10px;
    height: 800px;
    width: 800px;
    
}
/* aligned header div and stretched out using span */
.header1 {
    grid-area: 1/1;
    grid-column: span 5;
    border: solid;
    height: 500px;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    /* background-color: whitesmoke; */
    
    /* image from: <a href='https://pngtree.com/'>Graphics from pngtree.com</a> */
    background-image: url('../Images/ladyshopping_33.png');
    
    background-size: 100% 100%;
    background-repeat: no-repeat; 
    
     
}
.shopping{
   position: absolute;
   margin-top: 10%;
  
}
/* changed font-size of title */
.title{
    font-size: 50px;
    animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    /* display: flex;
    justify-content: center; */
    
    /* position: absolute; */
   
}
/*styled div for menu icon*/

.menu1 {
    grid-area: 3/1;
    height: 600px;
    border: solid;

}
/* styled div for content */
.content1 {
    grid-area: 3/2;
    height: 600px;
    border: solid;
    grid-column: span 4;
    overflow: scroll;
    
    
}
/* changed height and width of my personal photo */
.myPicture{
    height: 200px;
    width: 200px;
    /* border: solid black; */
    padding: 20px;
   border-radius: 20%;
}
/* adjusted content div of policies */
.contentPolicies{
    background-color: rgba(0,0,0,.1);
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#policyDescription{
    margin-top: -400px;
    margin-left: 100px;
}
/* styled div for footer */
.footer1 {
    grid-area: 5/1;
    border: solid;
    grid-column: span 5;
    
}
/* added background image for these divs */
.header1, .menu1, .content1, .footer1, .content2, .contentContact {
    background-image: url('../Images/full-bloom.png');
    border-radius: 25px;
  
    
    
}
/* made span letters bigger and added color */
span{
    font-size: 80px;
    
}
.even {
    color: red;
}
/* assigned text for full site and background-color */
body{
    font-family: fantasy;
    background-image: url('../Images/dark-grey-terrazzo.png');
}
span{
    color: #0FBCF1;
}
/* adjusted target icon */
.targetIcon{
    height: 200px;
    width: 200px;
    
}
.targetIcon:hover {
    box-shadow: 10px 10px 10px 10px rgba(0,0,0,.1);
  
}
/* adjusted walmart icon */
.walmartIcon{
    height: 200px;
    width: 200px;
}
.walmartIcon:hover {
    box-shadow: 10px 10px 10px 10px rgba(0,0,0,.1);
  
}
/* adjusted publix icon */
.publixIcon{
    height: 200px;
    width: 350px;
}
.publixIcon:hover {
    box-shadow: 10px 10px 10px 10px rgba(0,0,0,.1);
  
}
/* adjusted kroger icon */
.krogerIcon{
    height: 200px;
    width: 200px;   
}
.krogerIcon:hover {
    box-shadow: 10px 10px 10px 10px rgba(0,0,0,.1);
  
}
.overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background: rgba(0,0,0,.9);
    overflow-x: hidden;
    z-index: 5;
    transition: all 0.5s
}
.overlayContent{
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}
.overlay a {
    padding: 10px;
    color: #ccc;
    font-size: 40px;
    text-decoration: none;
    display: block;
}
.overlay a:hover {
    color: #fff;
}
.overlay .closeBtn {
    position: absolute;
    top: 20px;
    right: 50px;
    font-size: 50px;

}
/* fixed menu icon to stay fixed on the whole page */
.openBtn{
    position: fixed;
}
/* content div for coupon database */
.content2 {
    grid-area: 3/2;
    height: 600px;
    border: solid;
    grid-column: span 4;
    background-color: rgba(0,0,0,.1);
    overflow: scroll;
   
}
/* adjusted span lingo words */
.lingo{
    font-size: 30px;
}
/* adjusted contact form */
.contentContact {
    grid-area: 3/2;
    height: 600px;
    border: solid;
    grid-column: span 4;
    display: flex;
    justify-content: center;
    align-items: center;    
} 
/* adjusted input fields */
.contact{
    width: 300px;
}
.contactTitle{
   
}
/* adjusted message field */
.message{
    height: 300px;
}

.resourceList {
    list-style-type: none;
}
.contentDeals{
    display: flex;
  flex-direction: column;
  overflow: scroll;
  
  
}
.tideGain, .batteries, .allCereal, .tideText{
    display: flex;
    justify-content: center;
    margin: 0 300px;
    
}
/* .footerResources{
    grid-area: 6/1; 
} */
  /* created grid inside of grid */
  .nested{
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 10px;
  }
  /* styled grid inside of grid */
  .nested p {
      border: 1px solid white;
      padding: 20px;
      margin: 0;
  }
.contentBrags {
    overflow: scroll;
}

.tracking-in-expand {
	-webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2018-9-18 13:44:28
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation tracking-in-expand
 * ----------------------------------------
 */
 @-webkit-keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }

  #lingoTitle, #couponDescription, #Guide{
      text-align: center;
  }

  #allCereal{
      margin: 100px;
      
  }
  



